.picker{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px);
    cursor: pointer;
}
.pickerText{
    font-size: calc(10px + 2vmin);
    color: #fff;
}