div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
button{
    padding: 5px;
    margin: 5px;
}
span{
    padding: 5px;
    margin: 5px;
}