div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(194, 194, 194);
    
}
.badge{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.green{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: greenyellow;
}
.blue{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: aquamarine;
}
.red{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: red;
}