nav{
    width: 100vw;
    height: 60px;
    background-color: #181818;
}
.navUl{
    list-style: none;
}
.navUl li{
    display: inline-block;
    padding-left: 40px;
}
.navUl li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}
.navUl li a:hover{
    color: #61dafb;
}